{% extends "dia/base_category.html" %}
{% block title %}Create Content{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            {% if user.is_authenticated %}
            <form class="col-sm-9 m-6" method="post" action="{% url 'dia:add-category' %}">
                {% csrf_token %}
                {{ form|crispy}}
                <input type="submit">
            </form>
            {% else %}
            <h3>You need to log in to create categories </h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% endblock %}